body{
	padding:12px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#EBF4FB;
}
	
h1{
	color:#003366;
	font-size:20px;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;
}

p{
	border-bottom:1px solid #B7DDF2;
	color:#666666;
	font-size:14px;
	padding-bottom:10px;
}

label {
	color:#666666;
	display:block;
	float:right;
	font-weight:bold;
	font-size:14px;
	text-align:right;
	width:140px;
}

.inputField{
	border:1px solid #AACFE4;
	float:left;
	font-size:14px;
	margin:5px;
	padding:4px 2px;
	width:200px;
}

.selectField{
	border:1px solid #AACFE4;
	font-size:14px;
	margin:5px;
	width:207px;
	height:23px;
}

.radioSel{
	width:25px;	
}

.inputTable{
	width:70%;
	height:auto;	
}

.inputTable td{
	height:40px;
	vertical-align:middle;	
}

.yui-skin-sam .yui-dt table{
	width:800px;

}

.autoComplete{
	width:200px !important;
	position:inherit !important;
}

.yui-ac-container{
	width:202px !important;
}