<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!--  
		<bean id="annotationPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<value>classpath:jdbc.properties</value>
				</list>
			</property>
		</bean>
		-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sxtvdb" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>com/vms/db/bean/Audience.hbm.xml</value>
				<value>com/vms/db/bean/Audiencescore.hbm.xml</value>
				<value>com/vms/db/bean/Auditing.hbm.xml</value>
				<value>com/vms/db/bean/Company.hbm.xml</value>
				<value>com/vms/db/bean/Employee.hbm.xml</value>
				<value>com/vms/db/bean/Playchangelog.hbm.xml</value>
				<value>com/vms/db/bean/Playorder.hbm.xml</value>
				<value>com/vms/db/bean/Status.hbm.xml</value>
				<value>com/vms/db/bean/Subject.hbm.xml</value>
				<value>com/vms/db/bean/Scoreweight.hbm.xml</value>
				<value>com/vms/db/bean/Topic.hbm.xml</value>
				<value>com/vms/db/bean/User.hbm.xml</value>
				<value>com/vms/db/bean/Vedioscore.hbm.xml</value>
				<value>com/vms/db/bean/Vediotape.hbm.xml</value>
				<value>com/vms/db/bean/Resources.hbm.xml</value>
				<value>com/vms/db/bean/Role.hbm.xml</value>
				<value>com/vms/db/bean/RoleResource.hbm.xml</value>
				<value>com/vms/db/bean/UserRole.hbm.xml</value>
				<value>com/vms/db/bean/Scorelevel.hbm.xml</value>				
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.hbm2ddl.auto=update  
                hibernate.show_sql=true
                hibernate.format_sql=true
			</value>
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<!-- 配置事务属性 -->
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="enable*">PROPAGATION_REQUIRED</prop>
				<prop key="disable*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="audit*">PROPAGATION_REQUIRED</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>vediotapeService</value>
				<value>vedioscoreService</value>
				<value>companyService</value>
				<value>employeeService</value>
				<value>statusService</value>
				<value>subjectService</value>
				<value>topicService</value>
				<value>userService</value>
				<value>roleService</value>
				<value>audienceScoreService</value>
				<value>playorderService</value>
				<value>arrangeService</value>
				<value>resourceService</value>
				<value>audicenceService</value>
				<value>scoreweightService</value>
				<value>scorelevelService</value>
				<value>userRoleService</value>
				
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	
	<bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">   
		<property name="transactionInterceptor" ref="transactionInterceptor"/>   
	</bean>
	<!--
			DAO**************************************************************
		-->
	<bean id="baseDAO" class="com.vms.db.dao.BaseRootDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="auditingDAO" class="com.vms.db.dao.AuditingDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="statusDAO" class="com.vms.db.dao.StatusDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="subjectDAO" class="com.vms.db.dao.SubjectDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="topicDAO" class="com.vms.db.dao.TopicDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userDAO" class="com.vms.db.dao.UserDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="vediotapeDAO" class="com.vms.db.dao.VediotapeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		
	</bean>
	<bean id="vedioscoreDAO" class="com.vms.db.dao.VedioscoreDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="employeeDAO" class="com.vms.db.dao.EmployeeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="companyDAO" class="com.vms.db.dao.CompanyDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="playchangelogDAO" class="com.vms.db.dao.PlaychangelogDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="playorderDAO" class="com.vms.db.dao.PlayorderDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="roleDAO" class="com.vms.db.dao.RoleDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userRoleDAO" class="com.vms.db.dao.UserRoleDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="audienceScoreDAO" class="com.vms.db.dao.AudienceScoreDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="resourceDAO" class="com.vms.db.dao.ResourceDAO">
		<property name="sessionFactory" ref="sessionFactory" />		
	</bean>
	<bean id="audienceDAO" class="com.vms.db.dao.AudienceDAO">
		<property name="sessionFactory" ref="sessionFactory" />		
	</bean>
	
	
	<bean id="scoreweightDAO" class="com.vms.db.dao.ScoreweightDAO">
		<property name="sessionFactory" ref="sessionFactory" />		
	</bean>
	
	<bean id="scorelevelDAO" class="com.vms.db.dao.ScorelevelDAO">
		<property name="sessionFactory" ref="sessionFactory" />		
	</bean>
	<!--
			Service **************************************************************
		-->
	<bean id="accuracyService" class="com.vms.service.AccuracyService">
		<property name="vedioscoreDAO" ref="vedioscoreDAO" />
		<property name="playorderDAO" ref="playorderDAO" />
	</bean>
	<bean id="vediotapeService" class="com.vms.service.VediotapeService">
		<property name="vediotapeDAO" ref="vediotapeDAO" />
		<property name="auditingDAO" ref="auditingDAO" />
		<property name="vedioscoreDAO" ref="vedioscoreDAO"/>
		<property name="scorelevelDAO" ref="scorelevelDAO"/>
	</bean>
	<bean id="vedioscoreService" class="com.vms.service.VedioscoreService">
		<property name="vedioscoreDAO" ref="vedioscoreDAO" />
		<property name="vediotapeDAO" ref="vediotapeDAO" />
	</bean>
	<bean id="companyService" class="com.vms.service.CompanyService">
		<property name="companyDAO" ref="companyDAO" />
	</bean>
	<bean id="employeeService" class="com.vms.service.EmployeeService">
		<property name="employeeDAO" ref="employeeDAO" />
	</bean>
	<bean id="statusService" class="com.vms.service.StatusService">
		<property name="statusDAO" ref="statusDAO" />
	</bean>
	<bean id="subjectService" class="com.vms.service.SubjectService">
		<property name="subjectDAO" ref="subjectDAO" />
	</bean>
	<bean id="topicService" class="com.vms.service.TopicService">
		<property name="topicDAO" ref="topicDAO" />
	</bean>
	<bean id="userService" class="com.vms.service.UserService">
		<property name="userDAO" ref="userDAO" />
		<property name="roleDAO" ref="roleDAO"/>
	</bean>
	<bean id="roleService" class="com.vms.service.RoleService">
		<property name="roleDAO" ref="roleDAO" />
	</bean>
	<bean id="userRoleService" class="com.vms.service.UserRoleService">
		<property name="userRoleDAO" ref="userRoleDAO" />
		<property name="roleDAO" ref="roleDAO" />
	</bean>
	<bean id="audienceScoreService" class="com.vms.service.AudienceScoreService">
		<property name="audienceScoreDAO" ref="audienceScoreDAO" />
	</bean>
	<bean id="playorderService" class="com.vms.service.PlayorderService">
		<property name="playorderDAO" ref="playorderDAO" />
	</bean>
	<bean id="arrangeService" class="com.vms.service.ArrangeService">
		<property name="playorderDAO" ref="playorderDAO" />
	</bean>
	<bean id="resourceService" class="com.vms.service.ResourceService">
		<property name="resourceDAO" ref="resourceDAO"/>
		
	</bean>
	
	<bean id="audicenceService" class="com.vms.service.AudienceService">
		<property name="audienceDAO" ref="audienceDAO"/>
		
	</bean>
	
	<bean id="scoreweightService" class="com.vms.service.ScoreweightService">
		<property name="scoreweightDAO" ref="scoreweightDAO"/>
		
	</bean>
	
	<bean id="scorelevelService" class="com.vms.service.ScorelevelService">
		<property name="scorelevelDAO" ref="scorelevelDAO"/>
		
	</bean>
	
	<!--
			Proxy Service ********************************************************
		-->
	 	
	<bean id="frameMgmt" class="com.vms.framework.action.BasicLayout" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>	
	<!--
	
	<bean id="updateJob" class="com.vms.common.AutoJobToUpdatePlayedVideoStatus">
		<property name="playorderService" ref="playorderService"/>
		<property name="vediotapeService" ref="vediotapeService"/>
	</bean>
	
	<bean id="z" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
		<property name="triggers">  
			<list>      
				<ref bean="cronUpdateTrigger"/>  
			</list>  
		</property>  
	</bean>
	 -->   
	<!--jobBean用于设定启动时运用的Bean与方法
	<bean id="scheduledUpdateJobDetail"    
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
		<property name="targetObject">  
			<ref  bean="updateJob"/>    
		</property>  
		<property name="targetMethod">  
			<value>doUpdateStatus</value>  
		</property>  
	</bean>  
	-->  
	<!--定时器设定起动频率&启动时间我设的是每5秒起动一次 (0 0 4 * * ?每日四点起动....)
	<bean id="cronUpdateTrigger"   
		class="org.springframework.scheduling.quartz.CronTriggerBean">  
		<property  name="jobDetail">
			<ref bean="scheduledUpdateJobDetail"/>  
		</property>  
		<property name="cronExpression">
			<value>0/50 * * * * ?</value>    
		</property>  
	</bean>
	-->  
	
</beans>