.progressBar{
	width:100px;
	height:5px;
	background-color:#CCCCCC;	
	border:1px solid #000000;	
}

.okBar{
	height:5px;
	background-color:#73C167;		
}

.yui-dt-editor label{
	color: black !important;
	float: none !important;
	font-weight: normal !important;
	display: inline !important;
}
